h1 {
    font-family: arial,verdana,sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    font-style: italic;
    
}

p {
    font-family: georgia,serif;
    font-style: oblique;
    line-height: 30px;
}